{
  "openapi": "3.0.0",
  "info": {
    "title": "Smooch",
    "description": "The Smooch API is a unified interface for powering messaging in your customer experiences across every channel. Our API speeds access to new markets, reduces time to ship, eliminates complexity, and helps you build the best experiences for your customers. For more information, visit our [official documentation](https://docs.smooch.io).",
    "contact": {},
    "version": "2010-04-01"
  },
  "servers": [
    {
      "url": "https://api.smooch.io",
      "variables": {}
    }
  ],
  "paths": {
    "/v1.1/apps/{appId}/appusers/{userId}": {
      "get": {
        "tags": [
          "AppUser"
        ],
        "summary": "getAppUser",
        "description": "Get the specified app user.",
        "operationId": "GetAppUser",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "AppUser"
        ],
        "summary": "updateAppUser",
        "description": "Update the specified app user.",
        "operationId": "UpdateAppUser",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for an updateAppUser request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "AppUser"
        ],
        "summary": "deleteAppUser",
        "description": "Delete specified app user.",
        "operationId": "DeleteAppUser",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers": {
      "post": {
        "tags": [
          "AppUser"
        ],
        "summary": "preCreateAppUser",
        "description": "Pre-create an app user.",
        "operationId": "PreCreateAppUser",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a preCreateAppUser request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserPreCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/merge": {
      "post": {
        "tags": [
          "AppUser"
        ],
        "summary": "mergeUsers",
        "description": "Force the merge of two specific users, when the business has determined that they represent the same person.",
        "operationId": "MergeUsers",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a mergeUsers request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserMerge"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/images": {
      "post": {
        "tags": [
          "AppUser"
        ],
        "summary": "postImageMessage",
        "description": "Send an image message to the conversation.",
        "operationId": "PostImageMessage",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {},
              "schema": {
                "required": [
                  "source",
                  "role"
                ],
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "Image to be uploaded",
                    "format": "binary"
                  },
                  "role": {
                    "type": "string",
                    "description": "Role of the sender"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/profile": {
      "delete": {
        "tags": [
          "AppUser"
        ],
        "summary": "deleteAppUserProfile",
        "description": "Delete specified app user's profile.",
        "operationId": "DeleteAppUserProfile",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/authcode": {
      "get": {
        "tags": [
          "AppUser"
        ],
        "summary": "getAppUserAuthCode",
        "description": "Get an auth code for facilitating a channel transfer",
        "operationId": "GetAppUserAuthCode",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthCodeResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/channels": {
      "get": {
        "tags": [
          "AppUser"
        ],
        "summary": "getAppUserEntityIds",
        "description": "Get specified app user's channel entity IDs.",
        "operationId": "GetAppUserEntityIds",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserChannelsResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "AppUser"
        ],
        "summary": "linkAppUser",
        "description": "Link specified app user to given channel.",
        "operationId": "LinkAppUser",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a linkAppUser request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/businesssystems": {
      "get": {
        "tags": [
          "AppUser"
        ],
        "summary": "getAppUserBusinessSystemIds",
        "description": "Get specified app user's business system IDs.",
        "operationId": "GetAppUserBusinessSystemIds",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserBusinessSystemsResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/channels/{channel}": {
      "delete": {
        "tags": [
          "AppUser"
        ],
        "summary": "unlinkAppUser",
        "description": "Unlink specified app user from given channel.",
        "operationId": "UnlinkAppUser",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "description": "Name of the channel.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/linkrequest": {
      "get": {
        "tags": [
          "AppUser"
        ],
        "summary": "getLinkRequests",
        "description": "Fetch link requests for the specified app user.",
        "operationId": "GetLinkRequests",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationIds",
            "in": "query",
            "description": "List of integration IDs",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "minItems": 1,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/messages": {
      "get": {
        "tags": [
          "Conversation"
        ],
        "summary": "getMessages",
        "description": "Get the specified app user's messages.",
        "operationId": "GetMessages",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Timestamp of message. The API will return 100 messages before the specified timestamp (excluding any messages with the provided timestamp).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Timestamp of message. The API will return 100 messages after the specified timestamp (excluding any messages with the provided timestamp).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessagesResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Conversation"
        ],
        "summary": "postMessage",
        "description": "Post a message to or from the app user.",
        "operationId": "PostMessage",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a postMessage request.\nAdditional arguments are necessary based on message type ([text](https://docs.smooch.io/rest/#text), [image](https://docs.smooch.io/rest/#image), [carousel](https://docs.smooch.io/rest/#carousel), [list](https://docs.smooch.io/rest/#list), [form](https://docs.smooch.io/rest/#form))",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagePost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Conversation"
        ],
        "summary": "deleteMessages",
        "description": "Clears the message history for a user, permanently deleting all messages, but leaving any connections to Messaging Channels and Business Systems intact. These connections allow for the conversation to continue in the future, while still being associated to the same appUser.\n",
        "operationId": "DeleteMessages",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/messages/{messageId}": {
      "delete": {
        "tags": [
          "Conversation"
        ],
        "summary": "deleteMessage",
        "description": "Deletes a single message.",
        "operationId": "DeleteMessage",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Identifies the message.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/conversation/read": {
      "post": {
        "tags": [
          "Conversation"
        ],
        "summary": "resetUnreadCount",
        "description": "Reset the unread count of the conversation to 0.",
        "operationId": "ResetUnreadCount",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/conversation/activity": {
      "post": {
        "tags": [
          "Conversation"
        ],
        "summary": "conversationActivity",
        "description": "Notify Smooch when an app maker starts or stops typing a response.",
        "operationId": "ConversationActivity",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Identifies the user. Can be either the smoochId or the userId.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a triggerConversationActivity request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationActivity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/menu": {
      "get": {
        "tags": [
          "Menu"
        ],
        "summary": "getMenu",
        "description": "Get the specified app’s menu.",
        "operationId": "GetMenu",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Menu"
        ],
        "summary": "updateMenu",
        "description": "Configure the specified app’s menu.",
        "operationId": "UpdateMenu",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a updateMenu request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Menu"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Menu"
        ],
        "summary": "deleteMenu",
        "description": "Remove the specified app’s menu.",
        "operationId": "DeleteMenu",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/serviceaccounts": {
      "get": {
        "tags": [
          "ServiceAccount"
        ],
        "summary": "listServiceAccounts",
        "description": "List all service accounts configured.",
        "operationId": "ListServiceAccounts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "example": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of initial records to skip before picking records to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServiceAccountsResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "ServiceAccount"
        ],
        "summary": "createServiceAccount",
        "description": "Create a new service account.",
        "operationId": "CreateServiceAccount",
        "parameters": [],
        "requestBody": {
          "description": "Body for a createServiceAccount request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/serviceaccounts/{serviceAccountId}": {
      "get": {
        "tags": [
          "ServiceAccount"
        ],
        "summary": "getServiceAccount",
        "description": "Get the specified service account.",
        "operationId": "GetServiceAccount",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Identifies the service account.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "ServiceAccount"
        ],
        "summary": "updateServiceAccount",
        "description": "Update the specified service account.",
        "operationId": "UpdateServiceAccount",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Identifies the service account.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for an updateServiceAccount request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "ServiceAccount"
        ],
        "summary": "deleteServiceAccount",
        "description": "Delete the specified service account.",
        "operationId": "DeleteServiceAccount",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Identifies the service account.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/serviceaccounts/{serviceAccountId}/keys": {
      "get": {
        "tags": [
          "ServiceAccount"
        ],
        "summary": "ServiceAccountlistSecretKeys",
        "description": "List the secret keys for the specified service account.",
        "operationId": "ServiceAccountlistSecretKeys",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Identifies the service account.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSecretKeysResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "ServiceAccount"
        ],
        "summary": "ServiceAccountcreateSecretKey",
        "description": "Create a secret key for the specified service account.",
        "operationId": "ServiceAccountcreateSecretKey",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Identifies the service account.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a createSecretKey request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretKeyCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretKeyResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/serviceaccounts/{serviceAccountId}/keys/{keyId}": {
      "get": {
        "tags": [
          "ServiceAccount"
        ],
        "summary": "ServiceAccountgetSecretKey",
        "description": "Get the specified service account secret key.",
        "operationId": "ServiceAccountgetSecretKey",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Identifies the service account.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "description": "Identifies the secret key.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretKeyResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "ServiceAccount"
        ],
        "summary": "ServiceAccountdeleteSecretKey",
        "description": "Delete the specified service account secret key.",
        "operationId": "ServiceAccountdeleteSecretKey",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Identifies the service account.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "description": "Identifies the secret key.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/serviceaccounts/{serviceAccountId}/keys/{keyId}/jwt": {
      "get": {
        "tags": [
          "ServiceAccount"
        ],
        "summary": "getJwt",
        "description": "Get an account-scoped JWT for the specified service account secret key.",
        "operationId": "GetJwt",
        "parameters": [
          {
            "name": "serviceAccountId",
            "in": "path",
            "description": "Identifies the service account.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "description": "Identifies the secret key.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JwtResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "listApps",
        "description": "List all apps configured.",
        "operationId": "ListApps",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "example": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of initial records to skip before picking records to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "serviceAccountId",
            "in": "query",
            "description": "The service account ID for which to list apps.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAppsResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "App"
        ],
        "summary": "createApp",
        "description": "Create a new app.",
        "operationId": "CreateApp",
        "parameters": [],
        "requestBody": {
          "description": "Body for a createApp request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "getApp",
        "description": "Get the specified app.",
        "operationId": "GetApp",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "App"
        ],
        "summary": "updateApp",
        "description": "Update the specified app.",
        "operationId": "UpdateApp",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for an updateApp request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "App"
        ],
        "summary": "deleteApp",
        "description": "Delete the specified app.",
        "operationId": "DeleteApp",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/keys": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "listSecretKeys",
        "description": "List the secret keys for the specified app.",
        "operationId": "ListSecretKeys",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSecretKeysResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "App"
        ],
        "summary": "createSecretKey",
        "description": "Create a secret key for the specified app.",
        "operationId": "CreateSecretKey",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a createSecretKey request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretKeyCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretKeyResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/keys/{keyId}": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "getSecretKey",
        "description": "Get the specified secret key.",
        "operationId": "GetSecretKey",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "description": "Identifies the secret key.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretKeyResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "App"
        ],
        "summary": "deleteSecretKey",
        "description": "Delete the specified secret key.",
        "operationId": "DeleteSecretKey",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "description": "Identifies the secret key.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/keys/{keyId}/jwt": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "getAppJwt",
        "description": "Get an app-scoped JWT for the specified secret key.",
        "operationId": "GetAppJwt",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "description": "Identifies the secret key.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JwtResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/integrations": {
      "get": {
        "tags": [
          "Integration"
        ],
        "summary": "listIntegrations",
        "description": "List integrations for the specified app.",
        "operationId": "ListIntegrations",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "List of types to filter the query by.\nMore than one value can be specified through comma separation e.g. ?types=*twilio*,*line*.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "example": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of initial records to skip before picking records to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListIntegrationsResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Integration"
        ],
        "summary": "createIntegration",
        "description": "Create an integration for the specified app.",
        "operationId": "CreateIntegration",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a createIntegration request.\nAdditional arguments are necessary based on integration type. For detailed instructions, visit our [official docs](https://docs.smooch.io/rest/#create-integration)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/integrations/{integrationId}": {
      "get": {
        "tags": [
          "Integration"
        ],
        "summary": "getIntegration",
        "description": "Get the specified integration.",
        "operationId": "GetIntegration",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Identifies the integration.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Integration"
        ],
        "summary": "updateIntegration",
        "description": "Update the specified integration.",
        "operationId": "UpdateIntegration",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Identifies the integration.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a updateIntegration request.\nAdditional arguments are necessary based on integration type. For detailed instructions, visit our [official docs](https://docs.smooch.io/rest/#update-integration)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Integration"
        ],
        "summary": "deleteIntegration",
        "description": "Delete the specified integration.",
        "operationId": "DeleteIntegration",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Identifies the integration.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/integrations/{integrationId}/menu": {
      "get": {
        "tags": [
          "Integration"
        ],
        "summary": "getIntegrationMenu",
        "description": "Get the specified integration's menu.",
        "operationId": "GetIntegrationMenu",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Identifies the integration.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Integration"
        ],
        "summary": "createIntegrationMenu",
        "description": "Create the specified integration’s menu, overriding the app menu if configured.",
        "operationId": "CreateIntegrationMenu",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Identifies the integration.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a createMenu request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Menu"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Integration"
        ],
        "summary": "updateIntegrationMenu",
        "description": "Update the specified integration’s menu.",
        "operationId": "UpdateIntegrationMenu",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Identifies the integration.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a updateMenu request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Menu"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Integration"
        ],
        "summary": "deleteIntegrationMenu",
        "description": "Delete the specified integration’s menu.",
        "operationId": "DeleteIntegrationMenu",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Identifies the integration.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/integrations/{integrationId}/profile": {
      "get": {
        "tags": [
          "Integration"
        ],
        "summary": "getIntegrationProfile",
        "description": "Get the specified integration’s profile.",
        "operationId": "GetIntegrationProfile",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Identifies the integration.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIntegrationProfileResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Integration"
        ],
        "summary": "updateIntegrationProfile",
        "description": "Update the specified integration’s profile.",
        "operationId": "UpdateIntegrationProfile",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Identifies the integration.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a profileUpdate request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationProfileUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/integrations/{integrationId}/profile/photo": {
      "put": {
        "tags": [
          "Integration"
        ],
        "summary": "uploadIntegrationProfilePhoto",
        "description": "Upload a photo to be used for the the specified integration’s profile.",
        "operationId": "UploadIntegrationProfilePhoto",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Identifies the integration.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {},
              "schema": {
                "required": [
                  "source"
                ],
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "Photo to be uploaded",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadIntegrationProfilePhotoResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/webhooks": {
      "get": {
        "tags": [
          "Webhook"
        ],
        "summary": "listWebhooks",
        "description": "List webhooks for the specified app.",
        "operationId": "ListWebhooks",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhooksResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "createWebhook",
        "description": "Create a webhook for the specified app.",
        "operationId": "CreateWebhook",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a createWebhook request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "Webhook"
        ],
        "summary": "getWebhook",
        "description": "Get the specified webhook.",
        "operationId": "GetWebhook",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookId",
            "in": "path",
            "description": "Identifies the webhook.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Webhook"
        ],
        "summary": "updateWebhook",
        "description": "Update the specified webhook.",
        "operationId": "UpdateWebhook",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookId",
            "in": "path",
            "description": "Identifies the webhook.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for an updateWebhook request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Webhook"
        ],
        "summary": "deleteWebhook",
        "description": "Delete the specified webhook.",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookId",
            "in": "path",
            "description": "Identifies the webhook.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/attachments": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "uploadAttachment",
        "description": "Upload an attachment to Smooch to use in future messages.",
        "operationId": "UploadAttachment",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access",
            "in": "query",
            "description": "Access level for the resulting file",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "for",
            "in": "query",
            "description": "The intended container for the attachment",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appUserId",
            "in": "query",
            "description": "The appUserId of the user that will receive the attachment\nUsed in attachments for messages",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "The userId of the user that will receive the attachment\nUsed in attachments for messages",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {},
              "schema": {
                "required": [
                  "source"
                ],
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "File to be uploaded",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/attachments/remove": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "removeAttachment",
        "description": "Remove an attachment uploaded to Smooch.",
        "operationId": "RemoveAttachment",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a removeAttachment request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRemove"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/templates": {
      "get": {
        "tags": [
          "Template"
        ],
        "summary": "listTemplates",
        "description": "List templates for the specified app.",
        "operationId": "ListTemplates",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "example": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of initial records to skip before picking records to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTemplatesResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Template"
        ],
        "summary": "createTemplate",
        "description": "Create a template for the specified app.",
        "operationId": "CreateTemplate",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a createTemplate request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/apps/{appId}/templates/{templateId}": {
      "get": {
        "tags": [
          "Template"
        ],
        "summary": "getTemplate",
        "description": "Get the specified template.",
        "operationId": "GetTemplate",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "path",
            "description": "Identifies the template.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Template"
        ],
        "summary": "updateTemplate",
        "description": "Update the specified template.",
        "operationId": "UpdateTemplate",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "path",
            "description": "Identifies the template.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for an updateTemplate request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Template"
        ],
        "summary": "deleteTemplate",
        "description": "Delete the specified template.",
        "operationId": "DeleteTemplate",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Identifies the app.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "path",
            "description": "Identifies the template.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/whatsapp/deployments": {
      "get": {
        "tags": [
          "Deployment"
        ],
        "summary": "listDeployments",
        "description": "List owned WhatsApp deployments.",
        "operationId": "ListDeployments",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDeploymentsResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Deployment"
        ],
        "summary": "createDeployment",
        "description": "Create a WhatsApp deployment.",
        "operationId": "CreateDeployment",
        "parameters": [],
        "requestBody": {
          "description": "Body for a createDeployment request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/whatsapp/deployments/{deploymentId}": {
      "get": {
        "tags": [
          "Deployment"
        ],
        "summary": "getDeployment",
        "description": "Get the specified deployment.",
        "operationId": "GetDeployment",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Identifies the deployment.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Deployment"
        ],
        "summary": "deleteDeployment",
        "description": "Delete the specified deployment.",
        "operationId": "DeleteDeployment",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Identifies the deployment.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/whatsapp/deployments/{deploymentId}/activate": {
      "post": {
        "tags": [
          "Deployment"
        ],
        "summary": "activatePhoneNumber",
        "description": "Activate a phone number on the specified deployment.",
        "operationId": "ActivatePhoneNumber",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Identifies the deployment.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for an activatePhoneNumber request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentActivatePhoneNumber"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.1/whatsapp/deployments/{deploymentId}/code/confirm": {
      "post": {
        "tags": [
          "Deployment"
        ],
        "summary": "confirmCode",
        "description": "Confirm code to complete phone number activation.",
        "operationId": "ConfirmCode",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Identifies the deployment.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body for a confirmCode request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentConfirmCode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "Enums": {
        "title": "Enums",
        "type": "object",
        "properties": {
          "ActionSize": {
            "$ref": "#/components/schemas/ActionSize"
          },
          "ActionType": {
            "$ref": "#/components/schemas/ActionType"
          },
          "BusinessSystemType": {
            "$ref": "#/components/schemas/BusinessSystemType"
          },
          "ClientStatus": {
            "$ref": "#/components/schemas/ClientStatus"
          },
          "ConfirmationType": {
            "$ref": "#/components/schemas/ConfirmationType"
          },
          "ConversationActivityType": {
            "$ref": "#/components/schemas/ConversationActivityType"
          },
          "DeploymentActivationMethod": {
            "$ref": "#/components/schemas/DeploymentActivationMethod"
          },
          "DeploymentHosting": {
            "$ref": "#/components/schemas/DeploymentHosting"
          },
          "DeploymentStatus": {
            "$ref": "#/components/schemas/DeploymentStatus"
          },
          "ImageAspectRatio": {
            "$ref": "#/components/schemas/ImageAspectRatio"
          },
          "IntegrationStatus": {
            "$ref": "#/components/schemas/IntegrationStatus"
          },
          "IntegrationType": {
            "$ref": "#/components/schemas/IntegrationType"
          },
          "MenuItemType": {
            "$ref": "#/components/schemas/MenuItemType"
          },
          "MessageItemSize": {
            "$ref": "#/components/schemas/MessageItemSize"
          },
          "MessageType": {
            "$ref": "#/components/schemas/MessageType"
          },
          "FieldType": {
            "$ref": "#/components/schemas/FieldType"
          },
          "QuotedMessageType": {
            "$ref": "#/components/schemas/QuotedMessageType"
          },
          "Role": {
            "$ref": "#/components/schemas/Role"
          },
          "WebhookTriggers": {
            "$ref": "#/components/schemas/WebhookTriggers"
          }
        }
      },
      "AppUserResponse": {
        "title": "AppUserResponse",
        "required": [
          "appUser"
        ],
        "type": "object",
        "properties": {
          "appUser": {
            "$ref": "#/components/schemas/AppUser"
          }
        }
      },
      "AppUser": {
        "title": "AppUser",
        "required": [
          "_id",
          "properties",
          "conversationStarted"
        ],
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The app user's ID, generated automatically."
          },
          "userId": {
            "type": "string",
            "description": "The app user's userId.\nThis ID is specified by the appMaker."
          },
          "givenName": {
            "type": "string",
            "description": "The app user's given name."
          },
          "surname": {
            "type": "string",
            "description": "The app user's surname."
          },
          "email": {
            "type": "string",
            "description": "The app user's email."
          },
          "signedUpAt": {
            "type": "string",
            "description": "A datetime string with the format *yyyy-mm-ddThh:mm:ssZ* representing the moment an appUser was created."
          },
          "properties": {
            "type": "object",
            "description": "Custom properties for the app user."
          },
          "conversationStarted": {
            "type": "boolean",
            "description": "Flag indicating if the conversation has started for the app user."
          },
          "clients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Client"
            },
            "description": "List of clients associated with the app user."
          },
          "pendingClients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Client"
            },
            "description": "As clients, but containing linked clients which have not been confirmed yet (i.e. Twilio SMS)."
          }
        }
      },
      "Client": {
        "title": "Client",
        "required": [
          "id",
          "platform"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "An identifier for the client. Must be globally unique."
          },
          "status": {
            "type": "string",
            "description": "The client status. Indicates if the client is able to receive messages or not. See [**ClientStatusEnum**](Enums.md#ClientStatusEnum) for available values."
          },
          "externalId": {
            "type": "string",
            "description": "The ID of the user on an external channel. For example, the user's phone number for Twilio, or their page-scoped user ID for Facebook Messenger. Applies only to non-SDK clients."
          },
          "active": {
            "type": "boolean",
            "description": "Deprecated - use the status property instead."
          },
          "lastSeen": {
            "type": "string",
            "description": "The date time the client was last seen."
          },
          "platform": {
            "type": "string",
            "description": "The client's platform. See [**IntegrationTypeEnum**](Enums.md#IntegrationTypeEnum) for available values."
          },
          "integrationId": {
            "type": "string",
            "description": "The ID of the integration that the client was created for."
          },
          "pushNotificationToken": {
            "type": "string",
            "description": "The GCM or APN token to be used for sending push notifications to the device.\nApplies to only *android* and *ios* clients."
          },
          "appVersion": {
            "type": "string",
            "description": "A reserved string field for reporting the app version running on the device."
          },
          "displayName": {
            "type": "string",
            "description": "The client's display name."
          },
          "info": {
            "$ref": "#/components/schemas/ClientInfo"
          },
          "raw": {
            "type": "object",
            "description": "An Object with raw properties that vary for each client platform. All keys are optional and not guaranteed to be available."
          }
        }
      },
      "ClientInfo": {
        "title": "ClientInfo",
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "description": "Name of the app associated with the client."
          },
          "avatarUrl": {
            "type": "string",
            "description": "The client's avatar URL."
          },
          "carrier": {
            "type": "string",
            "description": "The client's carrier."
          },
          "city": {
            "type": "string",
            "description": "The client's city."
          },
          "country": {
            "type": "string",
            "description": "The client's country."
          },
          "deviceModel": {
            "type": "string",
            "description": "The client's device model."
          },
          "devicePlatform": {
            "type": "string",
            "description": "The client's device platform."
          },
          "gender": {
            "type": "string",
            "description": "The client user's gender."
          },
          "isPaymentEnabled": {
            "type": "boolean",
            "description": "Whether or not payment is enabled for client."
          },
          "locale": {
            "type": "string",
            "description": "The client's locale."
          },
          "os": {
            "type": "string",
            "description": "The client's OS."
          },
          "osVersion": {
            "type": "string",
            "description": "The client's OS version."
          },
          "phoneNumber": {
            "type": "string",
            "description": "The client's phone number."
          },
          "radioAccessTechnology": {
            "type": "string",
            "description": "The client's radioAccessTechnology (Ex. HSDPA)."
          },
          "state": {
            "type": "string",
            "description": "The client's state or province."
          },
          "timezone": {
            "type": "number",
            "description": "The client's timezone offset."
          },
          "wifi": {
            "type": "string",
            "description": "Whether or not the client has wifi."
          }
        }
      },
      "AppUserUpdate": {
        "title": "AppUserUpdate",
        "type": "object",
        "properties": {
          "givenName": {
            "type": "string",
            "description": "The app user's given name."
          },
          "surname": {
            "type": "string",
            "description": "The app user's surname."
          },
          "email": {
            "type": "string",
            "description": "The app user's email."
          },
          "signedUpAt": {
            "type": "string",
            "description": "A datetime string with the format *yyyy-mm-ddThh:mm:ssZ* representing the moment an appUser was created."
          },
          "properties": {
            "type": "object",
            "description": "Custom properties for the app user."
          }
        }
      },
      "AppUserPreCreate": {
        "title": "AppUserPreCreate",
        "required": [
          "userId"
        ],
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "The app user's userId.\nThis ID is specified by the appMaker."
          },
          "givenName": {
            "type": "string",
            "description": "The app user's given name."
          },
          "surname": {
            "type": "string",
[...]
